		aside, article, section, header, footer, nav 
			 {
			display: block;
			 }
		aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, div 
			 {
			margin: 0;
			padding: 0;
			 }
		html 
			 {
			background: #EDEDED;
			 }
		body 
			 {
			margin: 0 auto;
			background: #fff;
			font: 90%/1.6 georgia,serif;
			 }
		/*content styling 
		   - color guide usage F7A42F*/
		header 
			 {
			background: #000000;
			padding: 10px 25px 10px 0;
			color: #fff;
			margin-bottom: 2em;
			 }
		h1 
			 {
			text-align: right;
			font-size: 3em;
			font-weight: normal;
			font-variant: small-caps;
			letter-spacing: .1em;
			 }
		p 
			 {
			margin-bottom: 1em;
			 }
		article 
			 {
			text-align: justify;
			 }
		article h2 
			 {
			font-size: 2em;
			font-weight: normal;
			margin-bottom: .2em;
			 }
		article h3 
			 {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: .2em;
			 }
		article p 
			 {
				font-size: 1.2em;
				margin-bottom: 1em;
			 }
		aside 
			 {
				font: .9em sans-serif;
			 }
		aside h2 
			 {
				font-size: 1.2em;
				margin-bottom: 1em;
			 }
		footer 
			 {
			    /* #E08B14*/
				background: #000000;
				font: 1.2em sans-serif;
				text-transform: uppercase;
				letter-spacing: .2em;
				text-align: center;
				color: #fff;
			 }
		/*layout styles*/
		@media all and (min-width: 780px)
		 {
		/*layout*/
		body 
			 {
				width: 85%;
				max-width: 1280px;
				min-width: 960px;
			 }
		article 
			 {
				float: left;
				width: 90%;
				padding-left: 2.5%;
			 }
		aside 
			 {
				float: right;
				width: 90%;
				padding: 0 2.5%;
				border-left: 1px solid #aaa;
			 }
		section 
			 {
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
				-webkit-column-gap: 1em;
				-moz-column-gap: 1em;
				column-gap: 1em;
				padding-bottom: 1em;
				margin-bottom: 1em;
				border-bottom: 1px solid black;
			 }
		section:last-of-type 
			 {
				border-bottom: none;
			 }
		footer 
			 {
				clear: both;
				padding: 25px 0 15px;
			 }
		 }
		@media all and (min-width: 481px) and (max-width: 780px) 
		 {
			/*layout*/
			body
			 {
				width: 90%;
				max-width: 780px;
				min-width: 485px;
				font-size: 80%;
			 }
			article 
			 {
				float: left;
				width: 56%;
				padding-left: 2.5%;
			 }
			aside 
			 {
				float: right;
				width: 34%;
				padding: 0 2.5%;
				border-left: 1px solid #aaa;
			 }
			footer
			 {
				clear: both;
				padding: 5px 0 15px;
			 }
			/*content styles*/
			h1 
			 {
				font-size: 2.4em;
			 }
			footer 
			 {
				font-size: 1em;
			 }
		 }
		@media all and (max-width: 480px) 
		 {
			/*layout*/
			body 
			 {
				width: 90%;
				max-width: 480px;
			 }
			article 
			 {
				padding: 0 5%;
			 }
			footer 
			 {
			padding: 5px 0 15px;
			 }
			/*content styles*/
			header 
			 {
			padding: 15px 15px 5px 0;
			 }
			h1 
			 {
			text-align: right;
			font-size: 2em;
			 }
			article 
			 {
			text-align: left;
			margin-bottom: 1em;
			 }
			aside 
			 {
			border-top: 1px solid black;
			padding: 1em 5% 0;
			line-height: 2;
			 }
			footer 
			 {
			font-size: .7em;
			 }
		 }